@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quick-sand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* shared styles */
  .bg-colour{
    background-color: rgb(247, 247, 247);;
  }
  .btn-primary{
    border-radius: 12px;
    border: none;
    padding: 10px 30px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
  }
.section-title{
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
}

.orange-colour{
    color: orange;
}
.skyblue-colour{
    color: skyblue;
}


/* navigation bar styles */
.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.school-text{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.logo-school{
    display: flex;
    max-width: 200px;
    height: 62px;
    align-items: center;
}
.nav-item{
    display: flex;
    gap: 32px;
    font-size: 1.25rem;
    
}
.nav-item> li{
    list-style: none;
}
#home{
    color: orange;
    font-weight: bold;
}
#about{
    color: skyblue;
}
#facilities{
    color: #05D4DF;
}
#admission{
    color: #5D58EF;
}

.contact-btn{
    background-color: orange;
}



/* banner styles */
.banner-container{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0px 140px;
}
.banner-texts{
    max-width: 640px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}

.banner-description{
    font-size: 1.5rem;
}
.enroll-btn{
    background-color:rgba(0, 0, 0, 0.884);
    margin-bottom: 20px;
}


.bar-icon{
    display: none;
}

/* curriculum section styles */



.curriculum-section{
    background-image: url("/assets/bg.png");
    margin: 0 140px;
}

.curriculum-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}
.curriculum{
    max-width: 320px;
    /* max-height: 380px; */
    text-align: center;
    border-radius: 20px;
    padding: 30px 70px;
}
.curriculum-1{
    border:1px solid #DEF5FF;
    background: linear-gradient(180deg,#DEF5FF, #FFFFFF 40%);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.curriculum-2{
    border:1px solid #FFF4DC;
    background:linear-gradient(180deg, #FFF4DC, #FFFFFF 40%);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.curriculum-3{
    border:1px solid #F2E8FF;
    background: linear-gradient( 180deg, #EEE1FF, #FFFFFF 40%);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

#read-more-1{
    color: #F0AA00;
}
#read-more-2{
    color: #64C8FF;
}
#read-more-3{
    color: #8700FF;
}

.greater-less-sign{
    display: flex;
    gap: 10px;
    justify-content: center;
    max-width: 100%;
    color: white;
    margin-top: 20px;
}
.fa-less-than, .fa-greater-than{
    background-color: orange;
    padding: 20px;
    border-radius: 50%;
}

/* small device */
@media screen and (max-width:576px) {
    .nav-item-container, .contact-btn, .school-text{
        display: none;
    }
    .banner-container{
       flex-direction:column-reverse;
        margin: 25px;
        text-align: center;
    }
    .banner-texts{
        justify-items: center;
    }
    #hero-kid{
        margin: 20px 10px;
    }

    .logo-school{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 220px;
    }
    .bar-icon{
        display: inline;
        font-size: 2em;
    }

    .curriculum-container{
        grid-template-columns: 1fr;
        gap: 15px;
        justify-content: center;
    }
   
}
